:root{
    --bg-yellowish:#e9c56aec;
    --bg-beige:#f4a261;
    --bg-darkerorange:#e76f51;
    --lightblue:#2a9d8f;
    --darkblue:#264653;
}
html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    background-color: var(--darkblue);
    overflow-x: hidden;  
}
a{
    text-decoration: none;
}
/* Navbar Styling */
#navbar{
    position:fixed;
    height:70px;
    width:100%;
    background-color: var(--lightblue);
    border-bottom:2px solid gray;
    top:0;
    z-index: 1;
}
.nav-links{
    position:absolute;
    right:50px;
    top:18px;
}
.nav-links a{
    font-size:25px;
    color: white;
    margin-left:20px;
}
.nav-links a:hover{
    color: var(--bg-beige);
}
/* Welcome Section */
#welcome-section{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#welcome-section h1{
    display:block;
    color:white;
    font-size:4em;
    margin-bottom: 0;
    letter-spacing: 3px;
    text-align: center;
}
#welcome-section p{
    display:block;
    color:var(--bg-beige);
    font-size:1.5em;
    font-weight: lighter;
    margin-top:-15px;
    font-style: italic;
}
#name{
    color:var(--bg-yellowish);
}
/* Projects Section */
.projects{
    width:100vw;
    background-color: var(--bg-yellowish);
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}
.projects h2{
    display: block;
    font-family: 'Anton', sans-serif;
    color: var(--darkblue);
    padding-top:40px;
    padding-bottom: 5px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    width:580px;
    border-bottom: 2px solid var(--darkblue);
}
.project-tile{
    margin-top: 10px;
    display:grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}
.project{
    max-width:400px;
    max-height:450px;
    border:2px solid white;
    background-color: var(--darkblue);
    transition: all ease-out 0.3s 0s;
}
.project p{
    font-size: 25px;
    margin:0;
    padding:0;
    text-align: center;
    color: white;
}
.project-image{
    width:400px;
    height:400px;
    object-fit: cover;
    
}
.project:hover{
    cursor:pointer;
    border:2px solid var(--darkblue);
    transform: translateY(3px);
}
.button{
    text-align: center;
    font-size: 20px;
    width:150px;
    height:40px;
    padding-top: 10px;
    margin-top:50px;
    border:none;
    color:white;
    background-color: var(--darkblue);
    transition: all ease-out 0.3s 0s;
}
.fa-solid, .fa-brands, .contact-link{
    padding-left:3px;
    transition: all ease-out 0.3s 0s;
}
.button:hover{
    background-color: var(--lightblue);
}
.button:hover > i{
    margin-left:3px;
}
/* Contacts Section */
.contacts{
    background-color: var(--darkblue); 
    height:700px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacts h2{
    margin:0;
    color:white;
    font-size: 50px;
}
.contacts p{
    margin:0;
    color: var(--bg-yellowish);
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}
.contact-icons{
    margin:40px 0;
}
.contact-link{
    display:inline-block;
    margin:10px; 
    color:white;
    font-size:25px;
}
.contact-link:hover {
    transform: translateY(8px);
}
.contact-link:hover i{
    color: var(--bg-darkerorange);
}
footer{
    background-color: var(--bg-beige);
    text-align: center;
    padding-top:20px;
    width:100vw;
    height: 40px;
}
footer p{
    color:var(--darkblue);
    margin-top:-10px;
    margin-bottom:0;
    font-size: 20px;
}

@media (max-width:1275px){
    .project-tile{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap:15px;
    }
    .project:nth-of-type(3){
        grid-column: 1/-1;
    }
}
@media (max-width:860px){
    .nav-links{
        position:absolute;
        right:100px;
        top:18px;
    }
    #welcome-section h1 span{
        display:block;
        margin-bottom:30px;
    }
    .projects h2{
        padding-top:10px;
        padding-bottom: 5px;
        font-size: 35px;
        text-align: center;
        letter-spacing: 3px;
        width:400px;
        border-bottom: 2px solid var(--darkblue);
    }
    .project-tile{
        grid-template-columns: 1fr;
    }
    .contacts h2{
        text-align: center;
        font-size: 40px;
    }
    .contacts p{
        font-size: 20px;
    }
    .contact-icons{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer p{
        margin-top:-15px;
        font-size: 18px;
        padding-right:20px;
    }
    
}

